<div class="container">
  <h1>Dashboard</h1>
  <h2>Change your Account data</h2>
  <div class="profile_pic">
  <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
  <%= link_to "Edit your Profile", edit_user_registration_path, class:"btn btn-primary" %>
  </div>

  <h2>See all your cuties</h2>
  <ul>
    <% @cuties.each do |cutie| %>
    <li class = "list_request"> <p class = "pet_name" ><%= link_to cutie.name, cuty_path(cutie) %></p> <p class = "list_item">cutie.description</p> </li>
    <% end %>
  </ul>

  <h2>Requests for your Cuties</h2>
  <ul>
    <% @user.owner_rent_out.each do |r| %>
    <li class = "list_request"> <% @cutie = r[0] %> <% @rental = r[1] %> <p class = "pet_name"><%= @cutie.name %></p>
      <div class = "list_item">
        <p><strong>Start-Time:</strong> <%= @rental.start_date %></p>
        <p><strong>End-Time:</strong> <%= @rental.end_date %></p>
        <p><strong>Renter:</strong> <%= @rental.user.name %></p>
        <p><strong>Rental-Status:</strong>  <span id="color"><%= @rental.status %></span></p>
      </div>
      <% if @rental.status == "Pendent" %>
      <div id="confirm">
        <%= simple_form_for [@cutie, @rental] do |f| %>
        <%= f.hidden_field :status, value: "Confirmed" %>
        <%= f.submit "Confirm" %>
        <% end %>
        <%= simple_form_for [@cutie, @rental] do |f| %>
        <%= f.hidden_field :status, value: "Declined" %>
        <%= f.submit "Decline" %>
        <% end %>
      </div>
      <% end %>
      <% if @rental.status == "Confirmed" %>
      <style> #color { color: green; font-weight: bolder; }</style>
      <% elsif @rental.status == "Declined" %>
      <style> #color { color: red; font-weight: bolder; }</style>
      <% end %>
    </li>
    <% end %>

  </ul>

  <h2>Status of your Cutie-Requests</h2>
  <ul>
    <% @user.renter_rent.each do |r| %>
    <li class = "list_request"> <% @cutie = r[0] %> <% @rental = r[1] %> <p class = "pet_name"><%= @cutie.name %></p>
      <div class = "list_item">
        <p><strong>Start-Time:</strong> <%= @rental.start_date %></p>
        <p><strong>End-Time:</strong> <%= @rental.end_date %></p>
        <p><strong>Rental-Status:</strong> <%= @rental.status %></p>
      </div>
    </li>
    <% end %>
  </ul>



</div>
