<div class="container">
  <div class="row">
    <h1 class= 'mx-auto my-3'>See all Cuties</h1>
  </div>


  <%= simple_form_for cuties_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control string required", id: "search_query",
        placeholder: "Find a Cutie"
        %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
    </div>
  <% end %>


    <div class="row">
      <% @cuties.each do |cutie| %>
      <div class="col-xs-12 col-sm-6 col-xl-4">
        <div class="card-cutie">
          <img src="<%= cutie.photo %>" />
          <div class="card-cutie-infos">
            <div>
              <h2><%= link_to cutie.name, cuty_path(cutie), class: 'cutie-name' %></h2>
              <p><%= cutie.description %></p>
            </div>
            <h2 class="card-cutie-pricing">€<%= '%.2f' % cutie.hourly_price %></h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-cutie-user avatar-bordered" /> -->
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
