  <div class="container">
    <div class="show-cutie-title-wrapper section">
      <div class="show-cutie-title">
        <h1><%= @cutie.ad_title.capitalize %></h1>
        <h1><strong><%= @cutie.name.capitalize %></strong></h1>
      </div>
    </div>

    <div class="big-cutie-card">

      <div class="show-cutie-body-wrapper">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="show-cutie-body-text">
              <h3>Animal type</h3>
              <p><%= @cutie.animal_type %></p>
              <h3>Age</h3>
              <p><%= @cutie.age%></p>
              <h3>Gender</h3>
              <p><%= @cutie.gender %></p>
              <h3>Hourly price</h3>
              <p>€<%= '%.2f' % @cutie.hourly_price %></p>
              <h3>Description</h3>
              <p><%= @cutie.description %></p>
              <h3>Owner</h3>
              <p><%= @cutie.user.name %></p>
              <% if @cutie.user == current_user %>
              <div>
                <%= link_to "Edit your cutie", edit_cuty_path(@cutie), class: 'btn btn-edit my-1' %>
              </div>
              <div>
                <%= link_to "Remove your cutie", cuty_path(@cutie), method: :delete, class: 'btn btn-remove my-1' %>
              </div>
              <% end %>
            </div>
          </div>


          <div class="col-sm-12 col-md-6">
            <div class="show-cutie-body-and-form">
              <%= cl_image_tag @cutie.photo %>
              <div class="form-wrapper my-1" style="margin: 0;">
                <h2>Rental Agreement</h2>
                <%= simple_form_for [@cutie, rental = Rental.new] do |f| %>
                <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.button :submit, "Send Rent-Request", class: 'btn btn-confirm'%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div>
              <%= link_to "Back to Cutie Overview", cuties_path, class: 'btn btn-confirm my-1' %>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
