  <div class="container">
  <div class="show-cutie-title-wrapper section">
    <div class="show-cutie-title">
      <h1><%= @cutie.ad_title %></h1>
    </div>
  </div>
  <div class="show-cutie-body-wrapper">
    <div class="show-cutie-body-text">
      <p>Animal type: <%= @cutie.animal_type %></p>
      <p>Age: <%= @cutie.age%></p>
      <p>Gender: <%= @cutie.gender %></p>
      <p>Hourly price: €<%= '%.2f' % @cutie.hourly_price %></p>
      <p>Description: <%= @cutie.description %></p>
      <p>Owner: <%= @cutie.user.name %></p>
    </div>

    <div class=show-cutie-body-photo>
      <%= cl_image_tag @cutie.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>


  <div>
    <%= link_to "Rent this Cutie", new_cuty_rental_path(@cutie) %>
  </div>

  <div>
    <%= link_to "See all cuties", cuties_path %>
  </div>

  <% if @cutie.user == current_user %>
    <div>
      <%= link_to "Edit your cutie", edit_cuty_path(@cutie) %>
    </div>

    <div>
      <%= link_to "Remove cutie", cuty_path(@cutie), method: :delete %>
    </div>
  <% end %>
  </div>
