<h1><%= @cutie.name %></h1>

<ul>
  <li>Animal type: <%= @cutie.animal_type %></li>
  <li>Age: <%= @cutie.age%></li>
  <li>Gender: <%= @cutie.gender %></li>
  <li>Hourly price: <%= @cutie.hourly_price %>€</li>
  <li>Description: <%= @cutie.description %></li>
  <li>Owner: <%= @cutie.user.name %></li>
  <li> <%= cl_image_tag @cutie.photo, height: 300, width: 400, crop: :fill %>
</li>
</ul>

<div>
<%= link_to "See all cuties", cuties_path %>
</div>

<div>
<%= link_to "Edit your cutie", edit_cuty_path(@cutie) %>
</div>

<div>
<%= link_to "Remove cutie", cuty_path(@cutie), method: :delete %>
</div>


