<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rent-A-Cutie</title>
  <link rel="icon" type="image/jpg" href="https://res.cloudinary.com/vivelafrans/image/upload/v1566398534/Cuties_logo_eq8qtv.jpg">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application' %>

  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body>
<!--   if user is signed in, use the navbar logged in, otherwise logged out -->
  <% if user_signed_in? %>
    <%= render 'shared/navbarli' %>
  <% else %>
    <%= render 'shared/navbarlo' %>
  <% end %>
  <div class="minimum-height">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="footer-copyright">
      This website is made with <i class="fas fa-heart"></i> for animals
    </div>
    <div class="footer-links">
      <a href="https://github.com/Vivelafrans/rent-a-cutie" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
